<div class="card">
  <div class="card-block">
    <img class="profile-pic float-right" src="{{ profilePicture }}" alt="prof_pic">
    <h5 class="card-title float-left">{{ name }} - <a href="{{ profilePage }}">{{ id }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted float-left">{{ email }}</h6>
  </div>
</div>
